<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-md-2 col-xs-12">
		<card data="item"></card>
		
		<div class="makeOffer">Make an offer to Swap!</div>
		<button class="btn-login Swap-btn" type="button" ng-click="showModal()">Swapsy</button>
	    
	    <div class="or">OR</div>
	    <button class="btn-login watchList">Add to Watchlist</button>
	    <div id="preferences">
		    <div>Preferences for Swap:</div>
			<div ng-repeat="tag in item.tags">
				<button ng-click="hasItem(tag)" class="tag-btn">{{tag}}</button>
			</div>
		</div>
	  	</div>
		<div class="col-md-10 col-xs-12">
			<div class="pull-left addTitle">{{item.name}}</div><button ng-if="currentUser._id === item.owner._id" ng-click="editItem()" class="btn edit-btn glyphicon glyphicon-wrench"></button>
			<div class="imagesBox">
				<!-- <div class="leftScroll scrollLeft pull-left"></div> -->
				<ul class="image-slider">
					<li ng-repeat="item in item.photos" ng-if="$index > 0"><img class="slider-image" ng-src="{{item}}"/></li>
				</ul>
				<!-- <div class="rightScroll scrollRight pull-right"></div> -->
			</div>
			<div class="ownerID"><a ng-href="catalogue/{{item.owner._id}}">{{item.owner.name}}</a></div>
			<div id="details">Item Details:</div>
			<div><b>Condition:</b> {{item.condition}}</div>
			<br>
			<div><b>Description:</b></div>
			<br>
			<div>{{item.description}}</div>
		</div>
	</div>
	<div id="comments" class="row">
		<div class="col-md-5 col-xs-12">
			<div class="commentBox">
				<div class="commentTitle">Write a comment</div>
				<textarea ng-model="comment" class="commentText"></textarea>
				<button id="send" ng-click="addComment()" class="btn-login">Send</button>
			</div>
		</div>
		<div class="col-md-7 col-xs-12">
			<div class="comment-recieved">
				<div class="comment" ng-repeat="comment in item.comments">
					<div class="col-md-1">
						<div class="icon-user glyphicon glyphicon-user"></div>
					</div>
					<div class="col-md-11">
						<div class="commentUser"><b>{{comment.user.name}}</b><span>{{comment.date}}</span></div>
						<div class="commentUser">{{comment.text}}</div>
					</div>				
				</div>
		
				
			</div>
		</div>
	</div>
	<div class="overlay" ng-hide="myVar" >
		<div class="popup">
			<div class="modal-header modal-title">Offer Items for Swap</div>
			<div class="popupContent">
				<div class="col-md-6">
					<div class="ownerName purple">{{item.owner.name}}</div>
					<card data="item"></card>
					<div class="tots">Total <span class="total">€{{item.price}}</span></div>
				</div>

				<div class="col-md-6 ">
					<div class="pull-right">

						<div class="ownerName purple">{{currentUser.name}}</div><card data="userItem"></card>
						<select ng-model="userItemID" ng-change="changeItem()" ng-options="item._id as item.name for item in catalogue"/> 
						<div class="tots">Total <span class="total">€{{userItem.price}}</span></div>
					</div>

				</div>
			</div>
			<div class="inner">		
				<button class="cancel" ng-click="hideModal()">Cancel</button>
				<button class="btn-login Swap-btn" ng-click="">Swapsy</button>
			</div>
			
			
		</div>
	</div>
	
</div>
