.reocommendation{
  margin-bottom: 10px;
  margin-top: 10px;
}
.showModal{
	opacity: 1;
}
.hideModal{
	opacity: 0;
}
.star{
  border-radius: 100%;
  font-size: 16px;
  padding-left: 0px;
  padding-top: 2px;
  margin-left: 0px;
  float: left;
  color: #F5A623;
}
.popup{
	margin: 30px auto;
	min-height: 400px;
	width: 500px;
	background-color: white;
	z-index: 9999;
	border-radius: 5px;
}
.popupContent{
	padding: 20px;	
	margin-bottom: 20px;
}
.points{
	margin-bottom: 10px;
	color: #F5A623;
}
.inner {
    display: table;
    margin: 0 auto;
}
.tots{
	margin-top: 20px;
	width: 170px;
	border-top: 1px solid #898888;
	margin-bottom: 20px;
}
.cancel{
	border-radius: 3px;
	margin-right: 20px;
	float: left;
	width: 170px;
	height: 40px;
	color: white;
	border: none;
	font-weight: bold;
	background-color: #C5C4C4;
}
.modal-header {
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
	background-image: -o-linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: ­moz­linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: ­ms­linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: linear-gradient(-179deg, #C17CFC 0%, #7000D2 100%);
}
.modal-title{
  text-align: center;
  color: white;
  font-weight: bold;
}
.total{
	font-weight: bold;
  	font-size: 18px;
  	color: #F5A623;
  	float: right;
}
.overlay{ 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 10s;
}


.addTitle{
	font-size: 20px;
	font-weight: bold;
}
.image-slider{
	list-style: none;
	padding: 0;
	margin-top: 30px;
}
.image-slider >li {
	float: left;
	margin-right: 5px;
}

.slider-image{
	width: 120px;
	height: 120px;
}
.scrollLeft{
    background: url(/assets/icons/Icon-ScrollLeft.svg);
    width: 25px;
	height: 25px;
    display: inline-block;
}
.scrollRight{
    background: url(/assets/icons/Icon-ScrollRight.svg);
   	width: 25px;
	height: 25px;
    display: inline-block;
}
.imagesBox{
	position: relative;
	height: 120px;
}
.leftScroll{
	position: absolute;
	top: 50px;
	left: -40px;
}
.rightScroll{
	position: absolute;
	right: -40px;
	top: 50px;
}
.Swap-btn{
	height: 40px;
	margin-bottom: 10px;
}
.makeOffer{
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.or{
	margin-bottom: 10px;
	width: 170px;
	text-align: center;
}
.btn-login.watchList{
	height: 25px;
	font-size: 12px;
	margin-bottom: 10px;
}
.tag-btn{
	background-color: #e6e6e6;
	border-radius: 5px;
	border: 1px solid #d5d5d5;
	padding: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
.tag-btn:hover{
	font-weight: bold;
	color: white;
	background-image: -o-linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: ­moz­linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: ­ms­linear­gradient(-89deg, #C17CFC 0%, #7000D2 100%);
	background-image: linear-gradient(-179deg, #C17CFC 0%, #7000D2 100%);
}	
.ownerID{
	color:#9b9b9b;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ownerID > a{
	float: left;
  	margin-right: 5px;
}
#details{
	margin-top: 40px;
	font-weight: bold;
	clear: both;
	margin-bottom: 20px;
}
#preferences{
	min-height: 100px;
}
.commentBox{
	border-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.commentText{
	width: 100%;
	padding: 10px;
	height: 210px;
	border:none; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(126,126,126,0.50);
	box-shadow: inset 0px 0px 3px 0px rgba(126,126,126,0.50);
}
.commentTitle{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: bold;
	background-color: #D2D2D2;
	padding: 5px;
}
#send{
	float: right;
	margin-bottom: 20px;
	width: 80px;
	height: 25px;
}
.comment-recieved{
	overflow: hidden;
	padding: 30px 20px 5px 20px;
	border-radius: 5px; 
	height:  270px;
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(126,126,126,0.50);
	box-shadow: inset 0px 0px 3px 0px rgba(126,126,126,0.50);
}
.icon-user{
	color: #dbdbdb;
	font-size: 30px;
	border-radius: 30%;
	border: 1px solid #dbdbdb;
	padding: 2px;
}
.comment-recieved .comment{
	min-height: 60px;
	transition-timing-function:ease-in;
}
#comments{
	margin-top: 20px;
}
.edit-btn{
	z-index: 1001;
	background-color: white;
	float: right;
	font-size: 15px;
	color: #7000D2;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid;
}
.ownerName{
	font-size: 14px;
	margin-bottom: 20px;
}