<div class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div id="headbar" class="container">
    <div class="col-md-2 col-sm-12"><a href="/" class="swapsyIcon"> </a></div>
    <div class="searchbar col-md-10 col-sm-12">
      <div id="logsig">
        <span class="pull-right" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup"> /Sign up</a></span>
       
        <span class="pull-right" ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></span>
        
        <!-- <span class="pull-right"  ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><!--  Logout</a></span> -->
        <div ng-show="isLoggedIn()">
        <div  class="pull-right dropdown">
          <button class="btn-logout glyphicon glyphicon-off dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="catalogue/{{getCurrentUser()._id}}">Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()">Logout</a></li>
          </ul>

        </div>


        </div>
        <span ng-show="isLoggedIn()" class="pull-right"  ng-class="{active: isActive('/logout')}">Hello {{getCurrentUser().name}}</span>
  
        <div ng-show="isLoggedIn()" class="pull-right dropdown message">
          <button class="message-icon glyphicon glyphicon-envelope" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            <div ng-if="numberOfMessages != 0"class="numberOfMessages">{{numberOfMessages}}</div>
          </button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation"  ng-repeat="message in getCurrentUser().messages | orderBy:$index:reverse track by $index"><a ng-click="read(message._id,$index)" role="menuitem"  tabindex="-1" ng-href="swap/{{message.swap}}">{{message.text}}</a></li>
          </ul>
        </div>

        
        <span ><a href="/addItem">Place Item</a></span>
      </div>

      <div class="input-group">
        <input type="text" ng-model="name" class="searchBox form-control" ng-keypress="searchK($event)" placeholder="Search for...">
        <span class="input-group-btn">
          <button id="search"class="btn-login watchList" type="button"  ng-click="search()">Search</button>
        </span>
      </div>
    </div>  
  </div>
  <div class="container">
      <ul class="nav categories">
        <li ng-repeat="item in menu" class="col-md-2" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>  
      </ul>
    </div>  
</div>

      <!-- <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="swapsyIcon"> </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul> -->

