.pictureComments{
	margin-bottom: 40px;
}
.userImage{
  	margin-right: 20px;
  	border-radius: 2px;
  	border: 1px solid silver;
  	float: left;	
}
.memberDate{
	font-weight: bold;
	margin-top: 40px;
	
}
.memberLocation{
	font-size: 12px;
	margin-top: 10px;
}
#catalogue,#feedback{
	margin-left: 0px;
	margin-right: 0px;
}
.purple{
	color: #7000D2;
}
.feedback{
	margin-top: 35px;
	font-size:  16px;	
}
.commentUser{
	float: left;
}
.feedbackCom{
	margin: 0;
	box-shadow: 0px 0px 4px 0px #4F4F4F;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	border-radius: 5px;
}
#feedbackCom{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}
.feedbackComment{
	clear: both;
}
#starContainer .cardStar{
	font-size: 15px;
}
#feedbackCom .catName{
	margin-bottom: 20px;
	margin-left: 0
}