<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="row pictureComments">
  <div class="col-md-10">
    <div class="userImage"><img src="assets/images/user.jpg"></div>
    <div class="ownerID"><a ng-href="catalogue/{{user._id}}">{{user.name}}</a></div>
    <div class="memberDate">Member since: {{user.dateJoined}}</div>
    <div class="memberLocation">Location: {{user.address.street}}, {{user.address.city}}, {{user.address.county}}</div>
    <div class="memberLocation">Active adds: <a href="/">{{activeAdds}}</a></div>
    <div  class="memberLocation">Swapped items: <a href="/">{{swappedAdds}}</a></div>
  </div>  
  <div class="col-md-2">
      <div class="feedback purple">Feedback</div>
      <div  class="memberLocation">Positive: <a href="/">3</a></div>
      <div  class="memberLocation">Neutral: <a href="/">1</a></div>
      <div  class="memberLocation">Negative: <a href="/">0</a></div>
  </div>
</div>


<div id="catalogue" class="row">
  <div class="catName">Catalogue</div>
  <div class="cards" ng-repeat="item in catalogue"> 

    <a ng-href="item/{{item._id}}">
     <card data="item"></card>
    </a>
  </div>
</div>
<div id="feedbackCom" class="">
  <div class="catName">Feedback</div>
  <div ng-repeat="feedback in user.feedback">
    <div class="row feedbackCom">
      <div class="col-md-2">
        <div class="user-pic icon-user glyphicon glyphicon-user"></div>
      </div>
      <div class="col-md-10">
        <div class="commentUser"><b>{{feedback.user.name}}</b></div>
        <div id="starContainer">
          <span ng-repeat="item in getTimes(feedback.rating) track by $index" class="cardStar glyphicon glyphicon-star"></span>
        </div>
        <div>
        <div class="feedbackComment">{{feedback.feedback}}</div>
        </div>    
      </div>

  </div>
</div>


<footer class="footer"></footer>

